{% extends 'base/base.html' %}
{% block content %}

<div class="card-columns">
{% for flower in flowers %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail' flower.slug%}">{{ flower.title }}</a></h5>
            <p class="card-text">{{ flower.description | truncatechars:100 }}</p>
            <a href="#" class="card-link">{{ flower.category }}</a>
            <a href="/admin/myapp/flower/{{ flower.id }}/change/" class="card-link">Edit</a>
            <a href="/admin/myapp/flower/{{ flower.id }}/delete/" class="card-link">Delete</a>
        </div>
        <hr>
        {% for tag in flower.tags.all %}
            <a href="{% url 'tags' tag.slug %}" class="card-link">{{ tag }}</a>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
